<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Learning Vue</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
      <div v-if="showBooks" class="books">
        <ul v-if="filteredBooks.length != 0">
        <h2>My Favourite Books</h2>
          <li v-for="book in filteredBooks" :key="book.id" :class="{ fav: book.isFav }">
            <img :src="book.img" :alt="book.title" />
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <button @click="toggleFav(book)">
              {{ book.isFav ? "Unfavourite" : "Favourite" }}
            </button>
          </li>
        </ul>
        <ul>
        <h2>All Books</h2>
          <li v-for="book in books" :key="book.id" :class="{ fav: book.isFav }">
            <img :src="book.img" :alt="book.title" />
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <button @click="toggleFav(book)">
              {{ book.isFav ? "Unfavourite" : "Favourite" }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
