body {
    background: #eee;
    max-width: 960px;
    margin: 20px auto;
    font-family: Inter, sans-serif;
  }
  p,
  h3,
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    background: #fff;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li.fav {
    background: #5541af;
    color: white;
  }
  button {
    padding: 10px 20px;
    border: none;
    background: #ff9ed2;
    color: #470026;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }